body {
    background-color: var(--purple-light);
}


/* NAVBAR */

body nav{
    transition: 0.6s;
    position: fixed;
    z-index: 2;
}

#header{
    padding: 30px 0;
}

a.font-header-hero{
    color: var(--medium-violet);
    font-family: var(--font);
    font-weight: var(--extra-bold);
    font-size: var(--p);
    margin-left: 80px;
}

body nav.sticky {
    position: fixed;
    width: 100%;
    background-color: var(--medium-violet);
    box-shadow: 0 8px 32px 0 var(--magenta-light);
    z-index: 2;
}

body nav.sticky .font-header-hero,
body nav.sticky .logo-name {
    color: var(--purple-light); 
}

.logo {
    height: 30px;
}

.logo-name {
    font-family: var(--font);
    position: relative;
    font-size: var(--h4);
    font-weight: var(--extra-bold);
    color: var(--purple);
    left: 8px;
}

.logo-box {
    width: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-mine .current {
    text-decoration: underline;
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 12px;
    background-color: var(--dark-purple-light);
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: var(--medium-violet);
}

/* CARD */

.mini-logo-card {
    width: 80px;
    /* margin-left: 75%; */
    right: 30px;
    bottom: 30px;
}

.line {
    margin-bottom: 100px;
}

.container-cards {
    padding-block-start: 70px;
}

.card-body-mine {
    padding: 40px;
    font-family: var(--font);
    font-weight: var(--extra-bold);
    color: var(--white);
    font-size: var(--h6);
    border-radius: 20px;
}

.cb-etec {
    background-color: var(--violet);
}

.cb-secretary {
    background-color: var(--purple);
    
}

.dad-card {
    border-radius: 20px;
}

/* TABLE */

.table-background {
    background-color: var(--white);
    border-radius: 20px;
}

.info-table {
    padding: 100px;
}

.table-title {
    text-align: center;
}

.search {
    width: 100%;
    border-radius: 50px;
    padding: 10px;
    background-color: var(--light);
    font-family: var(--font);
    font-weight: var(--bold);
    color: var(--medium-dark);
    border-style: solid;
    border-width: 0.5px;
    border-color: var(--medium);
}

.search-container {
    width: 100%;
    padding: 10px;
}

.icon-search {
    right: 40px;
    bottom: 25px;
}

.table-title {
    font-family: var(--font);
    font-weight: var(--extra-bold);
    color: var(--medium-violet);
}

.th {
    color: var(--medium-violet);
    font-family: var(--font);
    font-weight: var(--bold);
    font-size: 18px;
}

.th-title {
    font-weight: var(--extra-bold);
    font-family: var(--font);
    color: var(--medium-violet);
    font-size: var(--h6);
}

