/* VARIABLES */
:root {
    /* FONT VARIABLES */
        --font:'Manrope', sans-serif;
        /* SIZE */
        --display: 64px;
        --h1: 56px;
        --h2: 48px;
        --h3: 40px;
        --h4: 32px;
        --h5: 24px;
        --h6: 20px;
        --p: 16px;
        --label: 14px;
        --tiny: 12px;
        --here: 35px;
        /* WEIGHT */
        --medium: 500;
        --semi-bold: 600;
        --bold: 700;
        --extra-bold: 800;
    /* COLOR VARIABLES */
        --black: #000000;
        --white: #ffffff;
        --light: #F4F4F4;
        --light-medium: #D8D8D8;
        --medium: #969696;
        --medium-dark: #646464;
        --dark: #323232;
        --purple-light: #F7ECFD;
        --magenta-light: #F9DAFB;
        --magenta-dark: #9710A1;
        --purple: #6E10A1;
        --medium-violet: #240046;
        --darker-violet: #10002B;
        --yellow: #fbc324;
        --orange: #fb5607;
        --red: #c60e08;
        --pink: #f22c57;
        --blue: #1c54f5;
        --medium-blue: #1BA2E8;
        --sea-green: #1FAFA9;
        --spring-green: #01EAA0;
}



*{
    padding: 0;
    margin: 0;
}
body{
    background-color: var(--purple-light);
  
}
.back-login{
    height: 100vh;
    background: url(../images/background.svg);
    background-size: cover;
    position: relative;
}
.logo {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-name {
    font-family: var(--font);
    font-size:30px;
    font-weight: var(--semi-bold);
    color: var(--purple);
    left: 8px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.box {
    width: 180px;
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input::placeholder {
    font-weight: bold;
}

.entrar{
    color: #240046;
    font-size: 56px;
    font-family: var(--font);
    font-weight: var(--semi-bold);
}
span {
    color:#f22c57 ;
}
.recomendamos{
    color:#10002B;
    font-size: 21px;
    width: 700px;
    text-align: center;
    font-family: var(--font);
    font-weight: var(--bold);
    margin-top: 9px;

}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
   flex-direction: column;
    
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-top: 15px; */
    /* height: 384px; */
    margin-top: 50px;
      
}
form {
    font-family: var(--font);
    font-weight: var(--extra-bold);
}
form div{
    display: flex;
    flex-direction: column;
    margin-bottom:20px;
    
   
}
form input, form textarea{
    outline: unset;
    padding: 20px;
    /* width: 350px; */
    height: 2px;
    border: 1px solid  #646464;
    border-radius:50px;

}
form input:focus, form textarea:focus{
    background-color: #F9DAFB;

}
form button {
    background-color:#10002B;
    color: #F9DAFB ;
    cursor: pointer;
    width: 390px;
    height: 50px;
    font-size: 20px;
    border: none;
    border-radius:50px;   
}
    button:hover {
        transform: translateY(-1px);
            background-color:#240046;
            color:white;
        }




form label{
    margin-left: 5px;
    color: #240046;
    margin-bottom:6px;
}
.faleConosco{
    color:#10002B;
    font-size: 20px;
    width: 160px;
    text-align: center;
    font-family: var(--font);
    margin-top: 30px;
}


