/* FORMATTING */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  font-size: 100%;
  height: 100%;
}

/* VARIABLES */

:root {
  /* FONT VARIABLES */
  --font: "Manrope", sans-serif;
  /* SIZE */
  --display: 64px;
  --h1: 56px;
  --h2: 48px;
  --h3: 40px;
  --h4: 32px;
  --h5: 24px;
  --h6: 20px;
  --p: 16px;
  --label: 14px;
  --tiny: 12px;
  --here: 35px;
  /* WEIGHT */
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
  /* COLOR VARIABLES */
  --black: #000000;
  --white: #ffffff;
  --light: #f4f4f4;
  --light-medium: #d8d8d8;
  --medium: #969696;
  --medium-dark: #646464;
  --dark: #323232;
  --purple-light: #f7ecfd;
  --magenta-light: #f9dafb;
  --magenta-dark: #9710a1;
  --purple: #6e10a1;
  --medium-violet: #240046;
  --darker-violet: #10002b;
  --violet: #351455;
  --yellow: #fbc324;
  --orange: #fb5607;
  --red: #c60e08;
  --pink: #f22c57;
  --blue: #1c54f5;
  --medium-blue: #1ba2e8;
  --sea-green: #1fafa9;
  --spring-green: #01eaa0;
}
