body {
    background-color: var(--purple-light);
}


/* NAVBAR */

body nav{
    transition: 0.6s;
    position: fixed;
    z-index: 2;
}

#header{
    padding: 30px 0;
}

a.font-header-hero{
    color: var(--medium-violet);
    font-family: var(--font);
    font-weight: var(--extra-bold);
    font-size: var(--p);
    margin-left: 80px;
}

body nav.sticky {
    position: fixed;
    width: 100%;
    background-color: var(--medium-violet);
    box-shadow: 0 8px 32px 0 var(--magenta-light);
    z-index: 2;
}

body nav.sticky .font-header-hero,
body nav.sticky .logo-name {
    color: var(--purple-light); 
}

.logo {
    height: 30px;
}

.logo-name {
    font-family: var(--font);
    position: relative;
    font-size: var(--h4);
    font-weight: var(--extra-bold);
    color: var(--purple);
    left: 8px;
}

.logo-box {
    width: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-mine .current {
    text-decoration: underline;
}



/* SCROLLBAR */

::-webkit-scrollbar {
    width: 12px;
    background-color: var(--dark-purple-light);
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: var(--medium-violet);
}

/* CARD */

.mini-logo-card {
    width: 80px;
    /* margin-left: 75%; */
    right: 30px;
    bottom: 30px;
}

.line {
    margin-bottom: 10px;
}

.container-cards {
    padding-block-start: 30px;    
}

.card-body-mine {
    padding: 30px;
    font-family: var(--font);
    font-weight: var(--extra-bold);
    color: var(--white);
    font-size: var(--h6);
    border-radius: 20px;
    }

.cb-curso {
    background-color: var(--violet);
}

.cb-turm {
    background-color: var(--purple);
    
}

.cb-prof {
    background-color: var(--magenta-dark);
}

.cb-aluno {
    background-color: #B376D4;
    
}
.dad-card {
    border-radius: 20px;
    right: 10px;
    
}
.dad-card-2{
    border-radius: 20px;
    right: 10px;
    top: 20px;
}

.align-card{
    right: 20px;
}

/*TEXTO */
.text-2{
    font-size: var(--h1);
    color: var(--white);
    font-weight: var(--extra-bold);
    position: relative;
    top: 10px;


}

/* TABLE */

#table-background {
position: relative;
max-width: 1110px;
padding-top: 50px;
height: 406px;
left: 1px;
top: 10px;
margin: auto;
box-sizing: border-box;

}

/*DROPDOWN*/
.customize-dropdown {
    font-family: var(--font);
    font-size: var(--p);
    font-weight: var(--extra-bold);
color: #240046;
border-radius: 20px;
}

