body{
    background-color: var(--purple-light);
}

/* NAVBAR */
#background-hero{
    background-image:url(../../images/backgound-image-hero.svg);
    background-size: cover; 
    background-position: center;
    position: relative;
}

body nav{
    transition: 0.6s;
    position: fixed;
    z-index: 2;
}

#header{
    padding: 30px 0;
}

a.font-header-hero{
    color: var(--medium-violet);
    font-family: var(--font);
    font-weight: var(--extra-bold);
    font-size: var(--h6);
    margin-left: 80px;
}

body nav.sticky {
    position: fixed;
    width: 100%;
    background-color: var(--medium-violet);
    box-shadow: 0 8px 32px 0 var(--magenta-light);
    z-index: 2;
}

body nav.sticky .font-header-hero,
body nav.sticky .logo-name {
    color: var(--purple-light) !important; 
}

.logo {
    height: 40px;
}

.logo-name {
    font-family: var(--font);
    position: relative;
    font-size: var(--here);
    font-weight: var(--extra-bold);
    color: var(--purple);
    left: 8px;
}

.logo-box {
    width: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 12px;
    background-color: var(--dark-purple-light);
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: var(--medium-violet);
}

/* CONTEÚDO PARTE 1 */

.image-1 {
    width: 500px;
}

.title-1 {
    font-size: var(--h2);
    font-weight: var(--extra-bold);
    font-family: var(--font);
    color: var(--medium-violet);
}

.text-1 {
    color: var(--darker-violet);
    font-family: var(--font);
    font-weight: var(--bold);
    font-size: var(--h5);
}

div.btnEntrar-1 {
    background-color: var(--purple);
    border-radius: 50px;
    font-size: var(--h6);
    font-weight: var(--extra-bold);
    color: var(--white);
    font-family: var(--font);
    width: 320px;
    height: 70px;
    border: none;
    margin: 30px 0;
    padding: 0 10px 0 30px;
    box-shadow: 0 5px 32px 0 rgba(0, 0, 0, 0.50);
}

.label-entrar-hero{
    width: 80%;
    display: flex;
    justify-content: center;
}

.arrow-hero{
    width: 20%;
}

.height-hero{
    height: 100%;
}

div.right-picture{
    padding: 80px 0;
}

.arrow-down-hero{
    margin: 10px 0 40px;
}

/*CSS Paloma*/
.body { 
    padding-block: 85px;
    background-color: var(--magenta-light);
    background-image:url(../../images/manchas4.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    position: relative;
   
}

.title1 {
    font-family: var(--font);
    font-weight: var(--bold);
    position: relative;
    text-align: center;
    color: var(--purple);
}
.title2 {
    font-family: var(--font);
    font-weight: var(--extra-bold);
    position: relative;
    text-align: center;
    color: var(--medium-violet);
    
}

.titleG{
    font-family: var(--font);
    text-align: center;
    color: var(--medium-violet);
    font-weight: var(--extra-bold);
    font-size: var(--h6);
}

div div.textG{
    font-family: var(--font);
    font-size: var(--p);
    color: var(--darker-violet);
    font-weight: 600;
    align-items: center;
    margin-top: 4px;
}

.img{
    margin-top: 20px;
    margin-bottom: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.body::before{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container-card{
    position: relative;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap ;
    
}
.container-card .card{
    width: 238px;
    height: 334px;
    margin: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    overflow: hidden;
    backdrop-filter: blur(4px);
}

.container-card .card .content{
    padding: 20px;
    text-align: center;
    transform: translateY(10px);
}

.container-card .card:hover .content{
    transform: translateY(0px);
    opacity: 1;
}

/* FOOTER STYLE */

.footer-background {
    background: rgb(36,0,70);
    background: linear-gradient(0deg, rgba(36,0,70,1) 55%, rgba(36,0,70,0.8071603641456583) 74%, rgba(36,0,70,0.6867121848739496) 100%);
    min-height: 400px;
    max-height: 450px;
    border-radius:  0px 0 170px 170px;
    padding-block: 85px;
}

.poupe-tempo {
    color: var(--white);
    font-family: var(--font);
    font-size: var(--p);
    font-weight: var(--bold);
    text-align: center;
}

.futuro-comeca {
    font-weight: var(--extra-bold);
    font-family: var(--font);
    font-size: var(--h2);
    color: var(--white);
    text-align: center;
}

.btnEntrar-2 {
    background-color: var(--white);
    border-radius: 50px;
    font-size: var(--h6);
    font-weight: var(--extra-bold);
    color: var(--medium-violet);
    font-family: var(--font);
    width: 320px;
    height: 70px;
    border: none;
    margin: 30px 0;
    padding: 0 10px 0 30px;
    box-shadow: 0 5px 32px 0 rgba(0, 0, 0, 0.50);
}

.footer-text {
    color: var(--medium-violet);
    font-size: var(--h6);
    font-weight: var(--bold);
    font-family: var(--font);
}

a:link, a:visited,  a:hover, a:active
{
    color: var(--dark-purple-light);
    text-decoration: none;
}

.footer-end-content {
    padding-block-start: 150px;
    text-align: center;
    padding-bottom: 30px;
}

.back-button {
    cursor: pointer;
}

.final-line {
    height: 1px;
    background-color: var(--darker-violet);
    border: none;
}

.copyright {
    font-size: var(--p);
    color: var(--darker-violet);
    font-family: var(--font);
    font-weight: var(--bold);
}

