body{
    background-color: var(--purple-light);
    padding: 150px 0 0 0;
}

/* VARIÁVEIS */

:root {
    /* FONT VARIABLES */
        --font:'Manrope', sans-serif;
        /* SIZE */
        --display: 64px;
        --h1: 56px;
        --h2: 48px;
        --h3: 40px;
        --h4: 32px;
        --h5: 24px;
        --h6: 20px;
        --p: 16px;
        --label: 14px;
        --tiny: 12px;
        --here: 35px;
        /* WEIGHT */
        --medium: 500;
        --semi-bold: 600;
        --bold: 700;
        --extra-bold: 800;
    /* COLOR VARIABLES */
        --black: #000000;
        --white: #ffffff;
        --light: #F4F4F4;
        --light-medium: #D8D8D8;
        --medium: #969696;
        --medium-dark: #646464;
        --dark: #323232;
        --dark-purple-light: #E2D7E7;
        --purple-light: #F7ECFD;
        --magenta-light: #F9DAFB;
        --magenta-dark: #9710A1;
        --purple: #6E10A1;
        --medium-violet: #240046;
        --darker-violet: #10002B;
        --yellow: #fbc324;
        --orange: #fb5607;
        --red: #c60e08;
        --pink: #f22c57;
        --blue: #1c54f5;
        --medium-blue: #1BA2E8;
        --sea-green: #1FAFA9;
        --spring-green: #01EAA0;
    }

/* NAVBAR */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 200px;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
    color: var(--medium-violet);
    font-family: var(--font);
    font-weight: var(--extra-bold);
    font-size: var(--h6);
    margin: 0px 0px 0px 80px;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    transition: 0.6s;
}

header.sticky {
    background-color: var(--medium-violet);
    padding: 30px 200px;
    box-shadow: 0 8px 32px 0 var(--magenta-light);
}

header.sticky ul li,
header.sticky .logo-name {
    color: var(--purple-light);
}

.logo {
    height: 40px;
}

.logo-name {
    font-family: var(--font);
    position: relative;
    font-size: var(--here);
    font-weight: var(--extra-bold);
    color: var(--purple);
    left: 8px;
}

.logo-box {
    width: 180px;
    display: flex;
    flex-direction: row;
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 12px;
    background-color: var(--dark-purple-light);
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: var(--medium-violet);
}

/* CONTEÚDO PARTE 1 */

.image-1 {
    width: 500px;
}

.part-1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.title-1 {
    font-size: var(--h2);
    font-weight: var(--extra-bold);
    font-family: var(--font);
    color: var(--medium-violet);
}

.text-1 {
    color: var(--darker-violet);
    font-family: var(--font);
    font-weight: var(--bold);
    font-size: var(--h5);
}

.btnEntrar-1 {
    background-color: var(--purple);
    border-radius: 50px;
    font-size: var(--h6);
    font-weight: var(--extra-bold);
    color: var(--white);
    font-family: var(--font);
    width: 320px;
    height: 70px;
    border: none;
    margin-top: 30px;
    box-shadow: 0 5px 32px 0 rgba(0, 0, 0, 0.50);
}

.left-1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: auto;
}