body{
    background-color: var(--purple-light);
}

/* NAVBAR */
#background-hero{
    background-image:url(../../images/backgound-image-hero.svg);
    background-size: cover; 
    background-position: center;
    position: relative;
}

body nav{
    transition: 0.6s;
    position: fixed;
    z-index: 2;
}

#header{
    padding: 30px 0;
}

a.font-header-hero{
    color: var(--medium-violet);
    font-family: var(--font);
    font-weight: var(--extra-bold);
    font-size: var(--h6);
    margin-left: 80px;
}

body nav.sticky {
    position: fixed;
    width: 100%;
    background-color: var(--medium-violet);
    box-shadow: 0 8px 32px 0 var(--magenta-light);
    z-index: 2;
}

body nav.sticky .font-header-hero,
body nav.sticky .logo-name {
    color: var(--purple-light) !important; 
}

.logo {
    height: 40px;
}

.logo-name {
    font-family: var(--font);
    position: relative;
    font-size: var(--here);
    font-weight: var(--extra-bold);
    color: var(--purple);
    left: 8px;
}

.logo-box {
    width: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 12px;
    background-color: var(--dark-purple-light);
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: var(--medium-violet);
}

/* CONTEÚDO PARTE 1 */

.image-1 {
    width: 500px;
}

.title-1 {
    font-size: var(--h2);
    font-weight: var(--extra-bold);
    font-family: var(--font);
    color: var(--medium-violet);
}

.text-1 {
    color: var(--darker-violet);
    font-family: var(--font);
    font-weight: var(--bold);
    font-size: var(--h5);
}

div.btnEntrar-1 {
    background-color: var(--purple);
    border-radius: 50px;
    font-size: var(--h6);
    font-weight: var(--extra-bold);
    color: var(--white);
    font-family: var(--font);
    width: 320px;
    height: 70px;
    border: none;
    margin: 30px 0;
    padding: 0 10px 0 30px;
    box-shadow: 0 5px 32px 0 rgba(0, 0, 0, 0.50);
}

.label-entrar-hero{
    width: 80%;
    display: flex;
    justify-content: center;
}

.arrow-hero{
    width: 20%;
}

.height-hero{
    height: 100%;
}

div.right-picture{
    padding: 80px 0;
}

.arrow-down-hero{
    margin: 10px 0 40px;
}

/*CSS Paloma*/
.body { 
    padding-block: 85px;
    background-color: var(--magenta-light);
    background-image:url(../../images/manchas4.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    position: relative;
   
}

.title1 {
    font-family: var(--font);
    font-weight: var(--bold);
    position: relative;
    text-align: center;
    color: var(--purple);
}
.title2 {
    font-family: var(--font);
    font-weight: var(--extra-bold);
    position: relative;
    text-align: center;
    color: var(--medium-violet);
    
}

.titleG{
    font-family: var(--font);
    text-align: center;
    color: var(--medium-violet);
    font-weight: var(--extra-bold);
    font-size: var(--h6);
}

div div.textG{
    font-family: var(--font);
    font-size: var(--p);
    color: var(--darker-violet);
    font-weight: 600;
    align-items: center;
    margin-top: 4px;
}

.img{
    margin-top: 20px;
    margin-bottom: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.body::before{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container-card{
    position: relative;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap ;
    
}
.container-card .card{
    width: 238px;
    height: 334px;
    margin: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    overflow: hidden;
    backdrop-filter: blur(4px);
}

.container-card .card .content{
    padding: 20px;
    text-align: center;
    transform: translateY(10px);
}

.container-card .card:hover .content{
    transform: translateY(0px);
    opacity: 1;
}


/*CSS ARTHUR*/


#comunidade{
        font-family: var(--font);
        font-weight: var(--bold);
        position: absolute;
        color: var(--purple);
        width: 108px;
        height: 24px;
        left: 110px;
        top: 1500px;
        font-size: 16px;
        line-height: 24px;



    }

#title01{
    font-family: var(--font);
    font-weight: var(--bold);
    color: var(--darker-violet);

    position: absolute;
    width: 776px;
    height: 152px;
    left: 110px;
    top: 1550px;


    

}

#title02{
    font-family: var(--font);
    font-weight: var(--bold);
    font-size: var(--h5);
    color: var(--darker-violet);
    position: absolute;
    width: 776px;
    height: 128px;
    left: 110px;
    top: 1700px;


}

#title03{
    font-family: var(--font);
    font-size: var(--h6);
    font-weight: var(--extra-bold);
    color: var(--darker-violet);
    position: absolute;

    width: 413px;
    height: 72px;
    left: 520px;
    top: 1900px;
    text-align: center;
    mix-blend-mode: normal;


}

.seta{


position: absolute;

width: 214.5px;
height: 66.5px;
left: 680px;
top: 1815px;

}

#display{

position: absolute;
width: 427px;
height: 402px;
left: 900px;
top: 1600px;

background: linear-gradient(180deg, #FFFFFF 80.21%, rgba(255, 255, 255, 0) 100%);

}

#xp{
position: absolute;
width: 117px;
height: 18px;
left: 929px;
top: 1705px;


border-radius: 50px;

}

#nxp{
    font: var(--bold);
    font-size: var(--tiny);
    color: var(--white);
    position: absolute;
    width: 49px;
    height: 20px;
    left: 965px;
    top: 1708px;

}

#level{
    font: var(--bold);
    font-size: var(--h6);
    color: var(--darker-violet);
    position: absolute;
    width: 73px;
    height: 34px;
    left: 963px;
    top: 1734px;


}

#perfil{
position: absolute;
width: 162px;
height: 23px;
left: 900px;
top: 1600px;

border-radius: 0px 0px 60px 60px;

mix-blend-mode: normal;
}


/**/
#camp{
    /* profile pic */

position: absolute;
width: 205.88px;
    height: 205.88px;
    left: 850px;
    top: 1460px;

}
/**/


#info{
position: absolute;
width: 203px;
height: 84px;
left: 1150px;
top: 1700px;


font: var(--bold);
font-size: var(--h6);
color: var(--darker-violet);


}

#conquista{
    /* Conquistas */
position: absolute;
width: 112px;
height: 28px;
left: 1030px;
top: 1790px;

font: var(--bold);
font-size: var(--h6);
color: var(--black);
}

#triangle{

position: absolute;
width: 22px;
height: 28.02px;
left: 1160px;
top: 1856px;

background: var(--light);
transform: rotate(-137deg);

}

#ballon{
position: absolute;
width: 167px;
height: 83px;
left: 1167px;
top: 1790px;


background: var(--light);
border-radius: 70px;

}

#pergunta{
/* Na mosca! Responda uma pergunta e receba um joinha do autor */

position: absolute;
width: 143px;
height: 76px;
left: 1170px;
top: 1790px;

font: var(--bold);
font-size: var(--tiny);
color: var(--magenta-dark);
text-align: center;
}

#first{
    
    /* 1 */

position: absolute;
width: 32px;
height: 32px;
left: 1090px;
top: 1850px;

background:  url(1.svg);

}

#team{
    /* team */

position: absolute;
left: 1138px;
top: 1883px;



}

#target{
    /* target */

position: absolute;
width: 32px;
height: 32px;
left: 1060px;
top: 1883px;

background: url(target.svg);

}

#binocolo{
    /* binoculars */

position: absolute;
width: 32px;
height: 32px;
left: 1030px;
top: 1923px;

background: url(binoculars.svg);

}

#foguete{
    /* success */

position: absolute;
width: 32px;
height: 32px;
left: 1090px;
top: 1923px;

background: url(success.svg);

}

#star{
    /* star */

position: absolute;
width: 32px;
height: 32px;
left: 1150px;
top: 1923px;

background: url(star.svg);

}
        
        